.elementor-13 .elementor-element.elementor-element-d4b28a7 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-5850087 {
  --spacer-size: 30px;
}
.elementor-13 .elementor-element.elementor-element-40ad44b {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-40ad44b
  .elementor-heading-title {
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 65px;
  font-weight: 600;
}
.elementor-13 .elementor-element.elementor-element-bf1925a {
  --spacer-size: 15px;
}
.elementor-13 .elementor-element.elementor-element-eb576b0 img {
  width: 50%;
}
.elementor-13 .elementor-element.elementor-element-a26b908 {
  --spacer-size: 15px;
}
.elementor-13 .elementor-element.elementor-element-236fc4f {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-236fc4f
  .elementor-heading-title {
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 65px;
  font-weight: 600;
}
.elementor-13 .elementor-element.elementor-element-fa8ee37 {
  --spacer-size: 5px;
}
.elementor-13 .elementor-element.elementor-element-6e5e934 {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-6e5e934
  .elementor-heading-title {
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.elementor-13 .elementor-element.elementor-element-c392d86 {
  --spacer-size: 15px;
}
.elementor-13 .elementor-element.elementor-element-eb32d99 {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-eb32d99
  .elementor-heading-title {
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 60px;
  font-weight: 600;
}
.elementor-13 .elementor-element.elementor-element-87a4a0c {
  --spacer-size: 15px;
}
.elementor-13 .elementor-element.elementor-element-3379605 {
  --spacer-size: 15px;
}
.elementor-13 .elementor-element.elementor-element-7b9f64d {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-7b9f64d
  .elementor-heading-title {
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 50px;
  font-weight: 600;
}
.elementor-13 .elementor-element.elementor-element-7ce0afc {
  --spacer-size: 15px;
}
.elementor-13 .elementor-element.elementor-element-9f82752 {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-9f82752
  .elementor-heading-title {
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 50px;
  font-weight: 600;
}
.elementor-13 .elementor-element.elementor-element-96cac5d {
  --spacer-size: 15px;
}
.elementor-13 .elementor-element.elementor-element-fa0d9bc {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-fa0d9bc
  .elementor-heading-title {
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 50px;
  font-weight: 600;
}
.elementor-13 .elementor-element.elementor-element-86ffdc0 {
  --spacer-size: 15px;
}
.elementor-13 .elementor-element.elementor-element-e87b533 {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-e87b533
  .elementor-heading-title {
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 65px;
  font-weight: 600;
}
.elementor-13 .elementor-element.elementor-element-2114351 {
  --spacer-size: 15px;
}
.elementor-13 .elementor-element.elementor-element-e104ee3 {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-e104ee3
  .elementor-heading-title {
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 50px;
  font-weight: 600;
}
.elementor-13 .elementor-element.elementor-element-1f2bde0 {
  --spacer-size: 15px;
}
.elementor-13 .elementor-element.elementor-element-5e5bc8f {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-5e5bc8f
  .elementor-heading-title {
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 50px;
  font-weight: 600;
}
.elementor-13 .elementor-element.elementor-element-49b6cfa {
  --spacer-size: 15px;
}
.elementor-13 .elementor-element.elementor-element-ef6398a img {
  width: 100%;
}
.elementor-13 .elementor-element.elementor-element-539db0d {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-539db0d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-13
  .elementor-element.elementor-element-539db0d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-13 .elementor-element.elementor-element-539db0d,
.elementor-13 .elementor-element.elementor-element-539db0d::before {
  --border-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-a16870b {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-2f2dbf8 {
  --display: flex;
  --min-height: 0px;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  border-style: dashed;
  --border-style: dashed;
  border-width: 3px 3px 3px 3px;
  --border-block-start-width: 3px;
  --border-inline-end-width: 3px;
  --border-block-end-width: 3px;
  --border-inline-start-width: 3px;
  border-color: #000000;
  --border-color: #000000;
  --border-radius: 3px 3px 3px 3px;
  --margin-block-start: 13px;
  --margin-block-end: 13px;
  --margin-inline-start: 13px;
  --margin-inline-end: 13px;
}
.elementor-13
  .elementor-element.elementor-element-2f2dbf8:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-13
  .elementor-element.elementor-element-2f2dbf8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-13 .elementor-element.elementor-element-2f2dbf8,
.elementor-13 .elementor-element.elementor-element-2f2dbf8::before {
  --border-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-ecd1422 {
  text-align: center;
  width: initial;
  max-width: initial;
}
.elementor-13
  .elementor-element.elementor-element-ecd1422
  .elementor-heading-title {
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 0px 0px 0px #000000;
}
.elementor-13 .elementor-element.elementor-element-fcafdc4 {
  text-align: center;
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-shadow: 0px 0px 0px #000000;
}
.elementor-13 .elementor-element.elementor-element-7693550 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-fbb1b5a {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  border-style: dashed;
  --border-style: dashed;
  border-width: 3px 3px 3px 3px;
  --border-block-start-width: 3px;
  --border-inline-end-width: 3px;
  --border-block-end-width: 3px;
  --border-inline-start-width: 3px;
  border-color: #000000;
  --border-color: #000000;
  --border-radius: 3px 3px 3px 3px;
  --margin-block-start: 13px;
  --margin-block-end: 13px;
  --margin-inline-start: 13px;
  --margin-inline-end: 13px;
}
.elementor-13
  .elementor-element.elementor-element-fbb1b5a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-13
  .elementor-element.elementor-element-fbb1b5a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-13 .elementor-element.elementor-element-fbb1b5a,
.elementor-13 .elementor-element.elementor-element-fbb1b5a::before {
  --border-transition: 0.3s;
}
.elementor-13 .elementor-element.elementor-element-929d6a7 {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-929d6a7
  .elementor-heading-title {
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 0px 0px 0px #000000;
}
.elementor-13 .elementor-element.elementor-element-10fda20 {
  text-align: center;
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-shadow: 0px 0px 0px #000000;
}
.elementor-13 .elementor-element.elementor-element-f8fa15e {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-f8fa15e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-13
  .elementor-element.elementor-element-f8fa15e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-13 .elementor-element.elementor-element-f8fa15e,
.elementor-13 .elementor-element.elementor-element-f8fa15e::before {
  --border-transition: 0.3s;
}
.elementor-13
  .elementor-element.elementor-element-9ff074d
  .elementor-repeater-item-7f0cb23.elementor-social-icon {
  background-color: #ffffff;
}
.elementor-13
  .elementor-element.elementor-element-9ff074d
  .elementor-repeater-item-7f0cb23.elementor-social-icon
  i {
  color: #000000;
}
.elementor-13
  .elementor-element.elementor-element-9ff074d
  .elementor-repeater-item-7f0cb23.elementor-social-icon
  svg {
  fill: #000000;
}
.elementor-13
  .elementor-element.elementor-element-9ff074d
  .elementor-repeater-item-864b680.elementor-social-icon {
  background-color: #ffffff;
}
.elementor-13
  .elementor-element.elementor-element-9ff074d
  .elementor-repeater-item-864b680.elementor-social-icon
  i {
  color: #000000;
}
.elementor-13
  .elementor-element.elementor-element-9ff074d
  .elementor-repeater-item-864b680.elementor-social-icon
  svg {
  fill: #000000;
}
.elementor-13 .elementor-element.elementor-element-9ff074d {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 26px;
  --grid-column-gap: 21px;
  --grid-row-gap: 0px;
}
.elementor-13
  .elementor-element.elementor-element-9ff074d
  .elementor-widget-container {
  text-align: center;
}
.elementor-13
  .elementor-element.elementor-element-9ff074d
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-13 .elementor-element.elementor-element-1ae2e15 img {
  width: 4%;
}
.elementor-13 .elementor-element.elementor-element-3bb477a .elementor-button {
  font-family: "RocknRoll One", Sans-serif;
  font-size: 30px;
  font-weight: 700;
  fill: #000000;
  color: #000000;
  background-color: #ffffff;
  border-style: dashed;
  border-width: 2px 2px 2px 2px;
  border-color: #000000;
  border-radius: 3px 3px 3px 3px;
}
.elementor-13 .elementor-element.elementor-element-3bb477a.elementor-element {
  --align-self: center;
}
.elementor-13 .elementor-element.elementor-element-0e8c391 .elementor-button {
  font-family: "RocknRoll One", Sans-serif;
  font-size: 30px;
  font-weight: 700;
  fill: #000000;
  color: #000000;
  background-color: #ffffff;
  border-style: dashed;
  border-width: 2px 2px 2px 2px;
  border-color: #000000;
  border-radius: 3px 3px 3px 3px;
}
.elementor-13 .elementor-element.elementor-element-0e8c391.elementor-element {
  --align-self: center;
}
.elementor-13 .elementor-element.elementor-element-a0ed8bf {
  --spacer-size: 30px;
}
.elementor-13 .elementor-element.elementor-element-3e2fd4e {
  text-align: center;
  color: #000000;
  font-family: "RocknRoll One", Sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.elementor-13
  .elementor-element.elementor-element-3e2fd4e
  > .elementor-widget-container {
  margin: 0px 0px -13px 0px;
}
@media (min-width: 768px) {
  .elementor-13 .elementor-element.elementor-element-a16870b {
    --width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-2f2dbf8 {
    --width: 100%;
  }
  .elementor-13 .elementor-element.elementor-element-7693550 {
    --width: 50%;
  }
  .elementor-13 .elementor-element.elementor-element-fbb1b5a {
    --width: 100%;
  }
}
@media (max-width: 767px) {
  .elementor-13
    .elementor-element.elementor-element-40ad44b
    .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-13 .elementor-element.elementor-element-bf1925a {
    --spacer-size: 5px;
  }
  .elementor-13 .elementor-element.elementor-element-eb576b0 img {
    width: 100%;
  }
  .elementor-13 .elementor-element.elementor-element-a26b908 {
    --spacer-size: 5px;
  }
  .elementor-13
    .elementor-element.elementor-element-236fc4f
    .elementor-heading-title {
    font-size: 60px;
  }
  .elementor-13
    .elementor-element.elementor-element-6e5e934
    .elementor-heading-title {
    font-size: 10px;
  }
  .elementor-13 .elementor-element.elementor-element-c392d86 {
    --spacer-size: 5px;
  }
  .elementor-13
    .elementor-element.elementor-element-eb32d99
    .elementor-heading-title {
    font-size: 40px;
  }
  .elementor-13 .elementor-element.elementor-element-87a4a0c {
    --spacer-size: 5px;
  }
  .elementor-13 .elementor-element.elementor-element-3379605 {
    --spacer-size: 5px;
  }
  .elementor-13
    .elementor-element.elementor-element-7b9f64d
    .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-13 .elementor-element.elementor-element-7ce0afc {
    --spacer-size: 5px;
  }
  .elementor-13
    .elementor-element.elementor-element-9f82752
    .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-13 .elementor-element.elementor-element-96cac5d {
    --spacer-size: 5px;
  }
  .elementor-13
    .elementor-element.elementor-element-fa0d9bc
    .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-13 .elementor-element.elementor-element-86ffdc0 {
    --spacer-size: 5px;
  }
  .elementor-13
    .elementor-element.elementor-element-e87b533
    .elementor-heading-title {
    font-size: 45px;
  }
  .elementor-13 .elementor-element.elementor-element-2114351 {
    --spacer-size: 5px;
  }
  .elementor-13
    .elementor-element.elementor-element-e104ee3
    .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-13 .elementor-element.elementor-element-1f2bde0 {
    --spacer-size: 5px;
  }
  .elementor-13
    .elementor-element.elementor-element-5e5bc8f
    .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-13 .elementor-element.elementor-element-49b6cfa {
    --spacer-size: 5px;
  }
  .elementor-13 .elementor-element.elementor-element-2f2dbf8 {
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-ecd1422
    .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-13 .elementor-element.elementor-element-fcafdc4 {
    font-size: 25px;
  }
  .elementor-13 .elementor-element.elementor-element-fbb1b5a {
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
  }
  .elementor-13
    .elementor-element.elementor-element-929d6a7
    .elementor-heading-title {
    font-size: 35px;
  }
  .elementor-13 .elementor-element.elementor-element-10fda20 {
    font-size: 25px;
  }
  .elementor-13 .elementor-element.elementor-element-3bb477a .elementor-button {
    font-size: 25px;
  }
  .elementor-13 .elementor-element.elementor-element-0e8c391 .elementor-button {
    font-size: 25px;
  }
  .elementor-13 .elementor-element.elementor-element-a0ed8bf {
    --spacer-size: 10px;
  }
  .elementor-13 .elementor-element.elementor-element-3e2fd4e {
    font-size: 10px;
  }
}

.articles{
    padding: 0 100px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.arti{
    width: 350px;

}

@media screen and (max-width: 768px) {
    .articles{
        flex-direction: column;
    }

    .arti{
        max-width: 80%;
        padding: 0 20%;
    }
    
}